[user]
	name = Markus Wüstenberg
	email = markus@maragu.dk
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
